
<h1>New Job Post</h1>

<%= form_with model: @job do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @job.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :desc %><br>
    <%= form.text_area :desc %><br>
    <% @job.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>